
<ion-header>
  <ion-navbar>
      <ion-title>Airplanes</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="airliner" > 
        <ion-segment-button *ngFor="let item of listAirliners()" value="{{item}}">
            {{item}}
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content class="outer-content">
  <div [ngSwitch]="airliner">
    <ng-container *ngFor="let item of listAirliners()">
        <ion-list radio-group *ngSwitchCase="item" (ionChange)="onChangeHandler($event)" [(ngModel)]="model">
            <ion-item-group>
                <ion-item *ngFor="let airplane of listAirplanes(item)">
                    <ion-label>{{airplane.name}}</ion-label>
                    <ion-thumbnail item-start>
                        <img src="{{airplane.icon}}" alt="{{airplane.icon}}">
                    </ion-thumbnail>
                    <ion-radio value="{{airplane.id}}" ></ion-radio>
                </ion-item>
            </ion-item-group>
        </ion-list>        
    </ng-container>    
  </div>  
</ion-content>

